.popular-body {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.popular-wrap {
    width: 70%;
    margin: auto;
    display: flex;
}

.popular-child {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

.popular-child ul {
    list-style: none;
    padding: 0;
}

.control-link.jsx-2590603438 {
    background-image: none;
    background-color: transparent;
    padding: 2px 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 700;
    color: #3377cc;
    display: inline-block;
}