body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

* {
    color: #333333;
}

.header {
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    position: relative;
    top: 0;
    left: 0;
}

header {
    width: 70%;
    height: 100%;
    display: flex;
    padding: 0px 10px;
    margin: auto;
}

.inner-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.inner-head ul {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center;
}

.inner-head li {
    padding: 0 5px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.inner-head .main_li:hover,
.name:hover,
.iphone:hover {
    color: red;
    border-bottom: 2px solid red;
}

.inner-head li:hover .pop {
    opacity: 1;
    visibility: visible;
}

.log {
    display: flex;
    text-align: center;
    height: 100%;
}

.log div {
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 100%;
    border-bottom: 1px solid transparent;
}

.divider {
    padding: 0 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.srch_div {
    width: 100%;
    height: 500px;
    background-image: url("main_image.PNG");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

.donate_div {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}

.donate_div:hover .donate_btn {
    color: #333333;
    background: white;
}

.donate_div strong {
    color: white;
    padding: 5px;
}

.donate_div img {
    height: 60px;
}

.donate_btn {
    border: 1px solid #fff;
    color: #fff;
    line-height: 1.2;
    background: transparent;
    border-radius: 3px;
    padding: 6px 6px 7px;
    cursor: pointer;
    max-width: 120px;
    vertical-align: middle;
    transition: all 1s;
}

.src_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.src_cont p {
    font-size: 20px;
    margin: 10px auto 30px;
}

.src_cont * {
    color: white;
}

form {
    background-color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    margin: 10px;
}

.src_btn {
    height: 100%;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 17px;
    border: 0;
    padding: 15px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

::placeholder {
    font-size: 18px;
}

.ph {
    border: 0;
    height: 50px;
    width: 100%;
    padding: 0px 24px;
    border-radius: 4px;
}

.src_cont h1 {
    font-size: 56px;
    margin: 10px;
}

.src_cont ul {
    display: flex;
    padding: 0px 45px;
    margin: 0 0 10px 0;
    justify-content: space-around;
    list-style: none;
    width: 70%;
}

.src_cont li {
    padding: 6px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
}

.src_cont li:hover {
    border-bottom: 2px solid red;
}


/* .src_cont input {
    padding: 0 24px;
} */

.pop {
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
    /* border-top: 1px solid #c4c4c4; */
    background-color: #fff;
    margin-top: 1px;
    z-index: 999;
}

.pop_content {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.pop_menu {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.pop .pop_link {
    padding: 5px 0;
    color: black;
    text-decoration: none;
}

.pop_link:hover {
    text-decoration: underline;
    color: red;
}

.pop h4 {
    color: black;
}

.pop ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 5px;
    align-items: flex-start;
}

.ad_banner {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.ad_banner p {
    font-size: 14px;
}

.ad_banner button {
    color: #d92228;
    font-size: 14px;
    padding: 6px 16px;
    margin: 0 0 0 10px;
    border-radius: 30px;
    border: 1px solid #d92228;
    background-color: transparent;
}

.ad_banner button:hover {
    background-color: #EDEDED;
}

.main_nav {
    font-size: 14px;
    padding: 17px 10.5px 11px;
    text-decoration: none;
}

.v {
    height: 5px;
    width: 10px;
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    transform: rotate(-45deg);
    margin: 0 10px 15px 0px;
}

.red {
    color: #3377cc;
    font-size: 28px;
    margin: 0;
}

.under {
    font-size: 14px;
}

.numbers {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.what {
    width: 100%;
}

.what h2 {
    /* padding-bottom: 25px; */
}

.b {
    width: 20%;
    text-align: center;
}

.place {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 16px 30px;
}

.left-img-cont,
.right-img-cont {
    margin: 30px;
}