.banner {
  background-image: url(./images/banner.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px; }

#header {
  position: fixed;
  width: 100%;
  z-index: 999; }

#header.fixed {
  background-color: #292c47; }

.navbar {
  padding: .5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 40px 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .navbar a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0; }
  .navbar-brant {
    margin-left: 0; }
  #header.fixed .navbar {
    border-bottom: 0;
    padding: 25px 0; }

#navbarNav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.navbar-toggler {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #e84545; }
  .navbar-toggler-icon {
    display: table-cell; }

.banner-contant {
  padding-top: 25%;
  margin: 0 auto; }
  .banner-contant h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .banner-contant p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }

@media screen and (max-width: 768px) {
  .banner-contant h1 {
    font-size: 42px; }
  .banner-contant p {
    font-size: 18px; } }

@media screen and (max-width: 480px) {
  .banner-contant h1 {
    font-size: 32px; } }

@media screen and (max-width: 768px) {
  .banner-text p {
    font-size: 18px; } }
