@import 'variable.scss';
@import 'banner.scss';
@import 'feature.scss';
@import 'icon.scss';
body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    color: $body_color;
    margin: 0;
}

.bg-trans {
    background-color: transparent;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 65px;
}

.btn-large {
    padding: 15px 40px;
}

.btn {
    background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    color: #2d3033;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}